.controllFinance {
  //   width: 100%;
  background: #f4f2ed;
  margin: 0 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 145px;
    &-title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      color: #272727;
      margin-bottom: 30px;
    }
    &-subTitle {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 54px;
      text-align: center;
      color: #272727;
      max-width: 1105px;
    }
  }
  &-body {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    margin: 0 auto;

    &-item {
      max-width: 480px;
      width: 100%;
      &-title {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        color: #272727;
        margin-bottom: 30px;
      }
      &-description {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #272727;
      }
      &-img {
        max-width: 480px;
        width: 100%;
        height: 186px;
        object-fit: cover;
      }
    }
  }
  &-btn {
    padding: 16px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    background: #354047;
    border-radius: 8px;
    width: fit-content;
    margin: 110px 0;
  }
}

@media (max-width: 1440px) {
  .controllFinance {
    &-head {
      margin-top: 65px;
      margin-bottom: 45px;
      padding: 30px;
      &-title {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      &-subTitle {
        font-size: 26px;
        line-height: 45px;
      }
    }
    &-body {
      &-item {
        &-title {
          font-size: 32px;
          line-height: 30px;
        }
        &-description {
          font-size: 20px;
        }
        &-img {
          max-width: 480px;
          width: 100%;
          height: 186px;
        }
      }
    }
    &-btn {
      padding: 16px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      background: #354047;
      border-radius: 8px;
      width: fit-content;
      margin: 50px 0;
    }
  }
}
@media (max-width: 1000px) {
  .controllFinance {
    margin: 0px;
  }
}

@media (max-width: 850px) {
  .controllFinance {
    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px;
      margin: 0 auto;
    }
  }
}
