.download {
  &-section {
    padding-top: 90px;
    &-head {
      text-align: center;
      &-title {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #272727;
      }
      &-subTitle {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        color: #272727;
      }
    }
    &-body {
      padding: 70px 0;
      display: flex;
      justify-content: center;
      gap: 30px;
      &-group {
        display: flex;
        gap: 30px;
      }
      &-input {
        border: none;
        background: #f4f2ed;
        border-radius: 12px;
        height: 57px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #bbbbbb;
        padding: 0 30px;
        max-width: 226px;
        width: 100%;
      }
      &-btn {
        background: #354047;
        border-radius: 8px;
        padding: 15px 35px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        display: flex;
        gap: 20px;
        align-items: center;
        max-width: 226px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 1050px) {
  .download {
    &-section {
      &-body {
        flex-direction: column;
        align-items: center;
        &-group {
          max-width: 490px;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .download {
    &-section {
      &-head {
        &-title {
          font-size: 28px;
          line-height: 40px;
        }
        &-subTitle {
          font-size: 30px;
          line-height: 35px;
        }
      }
      &-body {
        &-group {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
//
