.navbar {
  padding-top: 60px;
  &-section {
    display: flex;
    justify-content: space-between;

    align-items: center;
    &-item {
      display: flex;
      align-items: center;
      // gap: 85px;
      &-group {
        max-width: 370px;
        width: 100%;
        justify-content: space-between;
        gap: 25px;
      }
      &-text {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        cursor: pointer;
      }
      &-btn {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;

        background: #354047;
        border-radius: 8px;
        padding: 16px;
      }
    }
  }
}
