.quality {
  overflow-x: hidden;

  &-head {
    background: #f4f2ed;
    &-content {
      display: flex;
      justify-content: space-around;
      &-item {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
        color: #555555;
        padding: 25px 0;
      }
    }
  }
  &-frustrated {
    width: 100vw;
    position: relative;
    right: 0;
    display: flex;
    gap: 25px;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 100px;

    &-content {
      &-img {
        margin-left: 50px;
        max-width: 736px;
        max-height: 636px;
        height: auto;

        width: 100%;
        &-frustrated {
          max-width: 736px;
          width: 100%;
          max-height: 636px;
          height: auto;

          width: 100%;
        }
      }

      &-title {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        color: #272727;
        text-align: center;
        margin-bottom: 45px;
      }
      &-questions {
        max-width: 1080px;
        width: 100%;
        max-width: 60vw;
        width: 100%;
      }
      &-list {
        padding: 25px;
        padding-left: 45px;
        padding-right: 15px;
        list-style-position: inside;
        border-top: 3px solid rgba(0, 0, 0, 1);
        border-left: 3px solid rgba(0, 0, 0, 1);
        border-bottom: 3px solid rgba(0, 0, 0, 1);

        &-item {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 44px;
          color: #272727;
          padding-bottom: 25px;
          list-style-position: outside;
        }
      }
    }
  }
}

@media (max-width: 1900px) {
  .quality {
    &-head {
      &-content {
        &-item {
          font-size: 32px;
          line-height: 44px;
          padding: 15px 0;
        }
      }
    }
    &-frustrated {
      gap: 25px;

      margin-top: 70px;

      &-content {
        &-img {
          margin-left: 50px;
          max-width: 736px;
          max-height: 600px;
          height: auto;

          width: 100%;
          &-frustrated {
            max-width: 736px;
            width: 100%;
            max-height: 600px;
            height: auto;

            width: 100%;
          }
        }

        &-title {
          font-weight: 650;
          font-size: 40px;
          line-height: 50px;
          margin-bottom: 30px;
        }

        &-list {
          &-item {
            font-weight: 600;
            font-size: 25px;
            line-height: 44px;
            padding: 10px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .quality {
    &-head {
      &-content {
        &-item {
          font-size: 25px;
        }
      }
    }
    &-frustrated {
      gap: 25px;

      margin-top: 50px;

      &-content {
        &-img {
          margin-left: 20px;
        }

        &-title {
          font-weight: 600;
          font-size: 32px;
          line-height: 50px;
          margin-bottom: 30px;
        }

        &-list {
          &-item {
            font-weight: 600;
            font-size: 20px;
            line-height: 34px;
            padding: 5px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .quality {
    overflow-x: hidden;

    // &-head {
    //   background: #f4f2ed;
    //   &-content {
    //     display: flex;
    //     justify-content: space-around;
    //     &-item {
    //       font-family: "Open Sans";
    //       font-style: normal;
    //       font-weight: 600;
    //       font-size: 40px;
    //       line-height: 54px;
    //       color: #555555;
    //       padding: 25px 0;
    //     }
    //   }
    // }
    &-frustrated {
      width: 100vw;

      display: flex;
      flex-direction: column;

      align-items: flex-end;
      justify-content: center;
      margin-top: 40px;

      &-content {
        padding-left: 30px;

        &-questions {
          max-width: 1080px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .quality {
    &-head {
      &-content {
        &-item {
          font-size: 20px;
          line-height: 35px;

          padding: 15px 0;
        }
      }
    }
  }
}
